.container {
  width: 25rem;
  height: auto;
  padding: 1rem;
  background-color: blue;
  margin-bottom: 0.5rem;
}
.text-box h2 {
  color: white;
  font-size: 1.5rem;
}
.text-box p {
  color: wheat;
}

/* Breakpoint 575px */
@media (min-width: 575px) {
    .container { 
        background:Red;
        margin-bottom: 1rem;
    }
}

/* Breakpoint 768 */
@media (min-width: 786px) {
    .container { 
        width: 40.6rem;
        margin-bottom: 1.12rem;
        background:green;
    }
    .text-box h2,
    .textbox p {
        color:aqua;
    }
}
/* Breakpoint 992px */
@media (min-width:992px) {
    body {
        height: 100vh;
        width: 100vw;
        padding: 0;
        background-color:black;
        margin:0;
        display:flex;
        justify-content: center;
    }
        .container {
            width: 43.7rem;
            padding: 1.25rem;
            background: black;
            margin-right: 0.5rem;
            justify-content: center;
        }
        .text-box {
            display: fle;
            flex-direction:column;
            justify-content center;
            align-items: center;
        }
        .text-box h2 {
            color: green;
            font-size: 3rem;
            text    
        }
        .text-boxx p {
            color: white;
            font-size: 1.5rem;

        }
}